.homepage{
    display: flex;
    align-items: center;
    gap: 100px;
    height: 100%;
    
    
    @media screen and (max-width: 1024px) {
        flex-direction: column;
        gap: 0px;
      }

    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        text-align: center;

        h1{
            font-size: 100px;
            font-weight: bolder;
            background: linear-gradient(to left , #217bfe , #e55571);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            @media screen and (max-width: 1280px) {
                font-size: 64px;
              }

        }
        h2{
            color: purple;
            font-weight: bold;
            font-size: 500;

            @media screen and (max-width: 1024px) {
                max-width: 100%;
              }
        }
        h3{
            font-weight: 350;
            max-width: 100%;

            @media screen and (max-width: 1024px) {
                max-width: 100%;
              }
        }
        a{
            cursor: pointer;
            color: white;
            padding: 15px 25px;
            background-color: purple;
            border-radius: 20px;
            font-size: 14px;
            margin-top: 20px;
            z-index: 10;
            
            &:hover {
                background-color: black;
                color: purple;
              }
          }
        

    }

    .right{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .imgContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #140e2d;
            border-radius: 50px;
            width: 80%;
            height: 50%;
            position: relative;

            .bgContainer{
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: fixed;
                top: 0;
                left: 0;
                border-radius: 50px;

                .bg{
                    background-image: url("/bg.png");
                    opacity: 0.2;
                    width: 200%;
                    height: 100%;
                    background-size: auto 100%;
                    animation: 19s ease-in-out infinite alternate slideBg;
                }
            }

           

            .bot{
                width: 100%;
                height: 100%;
                object-fit: contain;
                animation: 2s ease-in-out infinite alternate botAnimate;
            }
            .chat{
                position: absolute;
                bottom: -42px;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 5px;
                font-size: 18px;
                background-color: rgb(28, 26, 26);
                border-radius: 5px;
                color: white;
                font-weight: bold;

                @media screen and (max-width: 1024px) {
                    display: none;
                  }
          
                  @media screen and (max-width: 1280px) {
                    right: 0;
                  }

                img{
                    width: 15%;
                    height: 15%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }
}

.orbital{
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.05;
    animation: 15s linear infinite rotateOrbital;
    z-index: -1;
}

 .terms{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    img{
        width: 16px;
        height: 16px;
    }

    .links{
        display: flex;
        gap: 10px;
        color: #888;
        font-size: 10px;
    }
 }

@keyframes rotateOrbital {  
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes botAnimate {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2) ;
    }
}
@keyframes slideBg {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-50%)  ;
    }
}

